<ion-header [translucent]="true">
  <app-header title="Pagina 1">
    
  </app-header>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card color="secondary">
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>ion-item in a card, icon left, button right</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
    </ion-card>
    <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>ion-item in a card, icon left, button right</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
      <ion-card mode="md" color="primary" >
        <ion-img [src]="'./assets/edificio.jpeg'" ></ion-img>
        <ion-card-header color="secondary" translucent>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content mode="ios">
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
 <ion-button strong color="primary">Default</ion-button>
      <ion-item>
        <ion-label>Awesome Label</ion-label>
        <ion-input #fuera name="fuera" type="text" placeholder="Awesome Input"></ion-input>
      </ion-item>
    
    <form  #formulario1 (ngSubmit)="enviar(formulario1, fuera)">
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input [value]="fuera.value" [disabled]="fuera.value=='cancelar'" name="name" type="text" placeholder="Awesome Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido</ion-label>
        <ion-input [disabled]="fuera.value=='enviar'" name="lastname" type="text" placeholder="Awesome Input"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" fill="clear" shape="round">
        Enviar
      </ion-button>
    </form>
    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="logo-ionic"></ion-icon>
        </ion-fab-button>
        <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <app-miformulario label1="Nombre">
      <ion-item>
        <ion-label>Hola</ion-label>
      </ion-item>
    </app-miformulario>
</ion-content>
