<ion-header [translucent]="true">
  <app-header title="Pagina 3"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required minlength="5" maxlength="10" type="email" [(ngModel)]="correo" #mail="ngModel"></ion-input>
      <div *ngIf="mail.invalid && (mail.dirty || mail.touched)">
        <span class="alert ion-padding" *ngIf="mail.errors?.['required']">
          El campo correo es obligatorio
        </span>
        <span class="alert" *ngIf="mail.errors?.['minlength']">
          El correo debe contener al menos 5 caracteres
        </span>
        <span class="error" *ngIf="mail.errors?.['maxlength']">
          El correo debe contener menos de 10 caracteres
        </span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="password" #pass="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
      <ion-input type="number" max="10" min="0"></ion-input>
    </ion-item>
    <ion-button [disabled]="mail.invalid || pass.invalid" (click)="onSubmit()" block color="primary" type="submit" >
      Login
    </ion-button>
</ion-content>
