<form>
  <ion-item>
    <ion-label>{{label1}}</ion-label>
    <ion-input type="text" placeholder="Awesome Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{label2}}</ion-label>
    <ion-input type="text" placeholder="Awesome Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{label3}}</ion-label>
    <ion-input type="text" placeholder="Awesome Input"></ion-input>
  </ion-item>
  <ng-content></ng-content>
  <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
    Enviar
  </ion-button>
</form>