<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
