<ion-header [translucent]="true">
  <app-header title="Pagina 2"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
      <div *ngIf="emailcontroller.invalid && (emailcontroller.touched || emailcontroller.dirty)">
        <div *ngIf="emailcontroller.errors?.required">
            Se debe proveer un correo
        </div>
        <div *ngIf="emailcontroller.errors?.email">
            El email es invalido 
        </div>
        <div *ngIf="emailcontroller.errors?.minlength">
          Debe contener al menos 5 caractéres
      </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="nombre" type="text"></ion-input>
      <div *ngIf="nombrecontroller.invalid && (nombrecontroller.touched || nombrecontroller.dirty)">
        <div *ngIf="nombrecontroller.errors?.required">
            Se debe proveer un nombre
        </div>
        <div *ngIf="nombrecontroller.errors?.minlength">
          Debe contener al menos 5 caractéres
      </div>
        <div *ngIf="nombrecontroller.errors?.forbiddenName">
          No se acepta el nombre Jonathan
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="apellido" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="password" type="text"></ion-input>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </ion-button>
  </form>
</ion-content>
