<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="onClick()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    {{title}}
  </ion-title>
</ion-toolbar>